<% if(session!=undefined){ %>
  <nav class="header2">
    <a href="../index">Home</a>&nbsp;&nbsp;&nbsp;
    <a href="connections">Connections</a>
    <a class = "user-name still-not-allowed">Welcome <% if(session.firstName){ %> <%= session.firstName %> <% } else { %> Ninja <% } %></a>
    <a class = "user-name still-not-allowed" href="savedconnections">Your Events</a>
  </nav>
<% } else { %>
  <nav class="header2">
    <a href="../index">Home</a>&nbsp;&nbsp;&nbsp;
    <a href="../connections">Connections</a>
    <a class = "user-name still-not-allowed" href="#"></a>
  </nav>
<% } %>
