<header class="header">
  <a href="/"><img class = "Logo" src="../../assets/images/logo.png" alt="gosport"></a>
  <nav class="navBar">
    <ul>
      <li><a class = "still-not-set" href = "../newConnection"  >Create New Event</a></li>
      <li><a href="logout">         Logout</a></li>
      <li><a href="savedconnections">         Saved Connections</a></li>
    </ul>
  </nav>
</header>
